.suitcase {
    color: black;
  }
  
  .HeaderSpacing {
    padding-top: 40px;
    background-color: antiquewhite
  }
  
  .HeaderText{
    text-align: center;
    padding-bottom: 40px;
  }
  
  .Sub{
    text-align: right;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .Search{
    text-align: left;
    padding: 30px 400px 10px 400px;
  }
  
  .VideoPadding{
    /* padding: 50px 50px 50px 50px; */
  
    padding-bottom: 10px;
    padding-top: 40px;
    margin: auto;
    width: 1300px;
  }
  
  .Countries{
    text-align: center;
    /* margin-left: 500px; */
    padding: 100px 200px 250px 200px;
  }