.welcome {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.protected-container {
    background-color: darkolivegreen;
    background-repeat: no-repeat;
    height: auto;
}

.card {
    color: white;
    background-color: transparent;
    font-size: 20px;
}