.welcome {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.protected-container {
    background-color: rgb(204, 70, 70);
    background-repeat: no-repeat;
    height: auto;
}

.card {
    color: black;
    background-color: transparent;
    font-size: 16px;
    font-weight: normal;
}

